<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="step col-4">
                <div class="text-light">Contribute</div>
                <ul>
                    <li><i class="fab fa-github"></i> <a href="#">Take it - it's yours</a></li>
                    <li><i class="fas fa-code-branch"></i> <a href="#">File an issue</a></li>
                </ul>
            </div>
            <div class="step col-4">
                <div class="text-light">Learn</div>
                <ul>
                    <li><i class="fab fa-youtube"></i> <a href="#">Tutorials</a></li>
                </ul>
            </div>
            <div class="step col-4">
                <div class="text-light">Connect</div>
                <ul>
                    <li><i class="fab fa-twitter"></i> <a href="#">Follow us!</a></li>
                    <li><i class="fab fa-slack"></i> <a href="#">Talk to us</a></li>
                    <li><i class="fab fa-telegram"></i> <a href="#">Connect</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-text text-light">
            &copy {{ dateFormat "2006" now }}. Made with <span class="text-red"> <i class="fas fa-heart"></i> </span>from Galicia!
        </div>
    </div>
</footer>