<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="step col-3">
                <a href="/"><img src="/images/currito.svg" alt="Currofy home" /></a>
            </div>
            <div class="step col-3">
                <div class="text-light">Contribute</div>
                <ul>
                    <li><i class="fab fa-github"></i> <a href="https://github.com/currofy/currofy-site" target="_blank">Take it - it's yours</a></li>
                    <li><i class="fas fa-code-branch"></i> <a href="https://github.com/currofy/currofy-site/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">File an issue</a></li>
                    <li><i class="fab fa-gitter"></i> <a href="https://gitter.im/currofy/community"  target="_blank">Talk code</a></li>
                </ul>
            </div>
            <div class="step col-3">
                <div>Connect</div>
                <ul>
                    <li ><i class="fab fa-twitter"></i> <a href="https://twitter.com/currofy" target="_blank">Follow us!</a></li>
                    <li><i class="fab fa-slack"></i> <a href="https://currofy.slack.com">Talk to us</a></li>
                    <li><i class="fab fa-telegram"></i> <a href="https://t.me/currofyme" target="_blank">Connect</a></li>
                </ul>
            </div>
        </div>

        <div id="copy" class="footer-text text-light">
            &copy {{ dateFormat "2006" now }}. Made with <span class="text-green"> <i class="fas fa-heart"></i> </span>from Coruña<a href="https://www.google.com/search?tbm=isch&q=coru%C3%B1a&tbs=imgo:1" target="_blank"> <img src="images/torre-verde.svg
            " alt="Torre de Hercules" height="30" width="25"/></a>
        </div>
    </div>
</footer>
