<nav id="navbar">
    <div class="container">
        <div class="row">
            <div class="navbar-logo">
                <a href="/">
                <div class="logo-image">
                    <img src="/images/logo.png" />
                </div>  
                <div class="logo-text">
                    <span class="text">Curro</span><span class="text-red">Fy</span>
                </div>
                </a>
            </div>
            <div class="navbar-items-list">
                <ul class="navbar-items">
                    <li class="navbar-item"><a href="/how-it-works">How it works</a></li>
                    <li class="navbar-item"><a href="/why">Why Currofy</a></li>
                    <li class="navbar-item"><a href="/community-driven">Community driven</a></li>
                    <li class="navbar-item">
                        <button class="navbar-item primary-button">Talk to us!</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> 