<nav id="navbar" class="navbar-not-scrolled">
    <div class="container">
        <div class="row">
            <div class="navbar-logo">
                <a href="/"><img src="/images/curro-logo.svg" alt="Currofy home" width="200"/></a>
            </div>
            <div class="navbar-items-list">
                <ul class="navbar-items">
                    <li class="navbar-item"><a href="/how-it-works">How it works</a></li>
                    <li class="navbar-item"><a href="/why">Why Currofy</a></li>
                    <li class="navbar-item"><a href="/community-driven">Community driven</a></li>
                    <li class="navbar-item">
                        <button onclick="location.href='/contact'" class="navbar-item primary-button">Talk to us!</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> 