{{ define "content" }}
<div id="home-content" class="container">

    <div class="row">
        <div class="section-column">
            <div class="section-header">
                <h1 class="text-left">We grow tech talent</h1>
            </div>
            <div class="section-description">
                <p class="text-left">A hub for top talent with the right  <span class="keyword">experience</span> and the right <span class="keyword">culture</span> to help you drive your <span class="keyword">digital </span>transformation</p>
            </div>

            <div id="bottom-button" class="text-left">
                <button class="primary-button button-lg">Start building your team</button>
            </div>
        </div>

        <div class="section-column">
            <img src="images/dev-focus.svg" style="max-width:100%; max-height:100%;"/>
        </div>
    </div>

    
</div>
{{ end }}