{{ define "content" }}
<div id="home-content">
    <div class="top-section">
        <div class="container">
            <div class="row">
                <div class="section-column">
                    <div>
                        <h1 class="text-left">We grow tech talent</h1>
                    </div>
                    <div class="section-description">
                        <p class="text-left">A hub for top talent with the right  <span class="text-red">experience</span> and the right <span class="text-red">culture</span> to help you drive your <span class="text-red">digital </span>transformation</p>
                    </div>

                    <div id="bottom-button" class="button-left">
                        <button onclick="openModal()" class="primary-button button-lg">Start building your team</button>
                    </div>
                </div>

                <div class="section-column remove-on-mobile">
                    <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;"/>
                </div>
            </div> 
        </div>
    </div>
    <!-- Inner section -->
    <div class="mid-section">
        <div class="container">
            <div data-aos="fade-right">
                <div class="row">
                    <div class="section-column remove-on-mobile">
                        <img src="/images/validated-dev.svg" style="max-width:100%; max-height:100%;"/>
                    </div>

                    <div class="section-column">
                        <div>
                            <h1 class="text-left">A laser-focused hiring process</h1>
                        </div>
                        <div class="section-description">
                            <p class="text-left">We design a <span class="text-red">technical challenge</span> tailored to your tech stack and business needs...</p>
                            <p class="text-left">...So you interview only <span class="text-red">qualified</span> talent. </p>
                            <p class="text-left">Scrap CVs...talk code, screen talent based on <span class="text-red">proven</span> tech skills.</p>
                        </div>

                        <div id="bottom-button" class="button-right">
                            <button onclick="openModal()" class="primary-button button-lg ">Schedule a call</button>
                        </div>
                    </div>
                </div> 
            </div>   
        </div>
    </div>
     <!-- Tech we love-->
     <div class="mid-section-light">
        <div class="container">
            <div data-aos="fade-left">
                <div class="row">
                    <div class="section-column">
                        <div>
                            <h1 class="text-center">Tech We Love</h1>
                        </div>
                    </div>
                </div> 
                <div class="row pad-3">
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/mongodb.svg" alt="MongoDB" title="MongoDB">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/apacheflink.svg" alt="Flink" title="Flink">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/apachekafka.svg" alt="Kafka" title="Kafka">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/redhatopenshift.svg" alt="OpenShift" title="OpenShift">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/apachemaven.svg" alt="Maven" title="Maven">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/spring.svg" alt="Spring" title="Spring">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/grafana.svg" alt="Grafana" title="Grafana">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/prometheus.svg" alt="Prometheus" title="Prometheus">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/gradle.svg" alt="Gradle" title="Gradle">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/quarkus.svg" alt="Quarkus" title="Quarkus">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/react.svg" alt="React.js" title="React.js">
                    </div>
                    <div class="section-column col-12">
                        <img src="/images/tech-brands/angular.svg" alt="Angular.js" title="Angular.js">
                    </div>
                </div> 
                <div class="row">
                    <div class="section-column">
                        <div>
                            <p class="text-center">We know <span class="text-red">digital</span> transformation.</p>
                        </div>
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</div>
{{ end }}
