{{ define "content" }}
<div id="home-content" class="container">
    <h1 class="text-center">The community helps the company</h1>

    <p class="text-center">Experience the <span class="text-red">OuterSource</span> where company teams work side by side with our community to solve great <span class="text-red">tech challenges</span> and grow together</p>

    <div id="bottom-button" class="text-center">
        <button class="primary-button button-lg">Start building your team</button>
    </div>
</div>
{{ end }}