{{ define "content" }}
<div id="community-section">
    <div class="container">
        <div class="section-header">
            <h1 class="text-center">The community helps the company</h1>
        </div>
        <div class="row">
            <div class="section-column">
                <div class="section-header">
                    <h1 class="text-left">Reach_</h1>
                </div>
                <div class="section-description">
                    <p class="text-left">Experience the <span class="keyword">OuterSource</span> where company teams
                        work
                        side
                        by side with our community to solve great <span class="keyword">tech challenges</span> and grow
                        together</p>
                </div>
            </div>
            <div class="section-column">
                <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>
        <div class="row mid-section">
            <div class="section-column">
                <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;" />
            </div>
            <div class="section-column">
                <div class="section-header">
                    <h1 class="text-left">Grow by doing_</h1>
                </div>
                <div class="section-description">
                    <p class="text-left">We are a <span class="keyword">community driven</span> talent platform that helps you <span class="keyword">grow</span> by solving <span class="keywords"> real challenges</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}