{{ define "content" }}
<div id="how-it-works">
    <div class="top-section">
        <div class="container">
            <h1 class="text-center">Scale your hiring process</h1>
            
            <!-- #-->
            <div class="remove-on-mobile">
                <div id="steps">
                    <div class="step-box" data-aos="flip-up" data-aos-delay="0" data-aos-duration="1000">
                        <div class="circle">1</div>
                    </div>
                    <div class="step-box" data-aos="flip-up" data-aos-delay="1500" data-aos-duration="1000">
                        <div class="circle">2</div>
                    </div>
                    <div class="step-box" data-aos="flip-up" data-aos-delay="3000" data-aos-duration="1000">
                        <div class="circle">3</div>
                    </div>
                </div>   
                <div id="bottom-button" class="text-center pad-3">
                    <button onclick="openModal()" class="primary-button button-lg">Schedule a call now</button>
                </div>
            </div>
        </div>
    </div>
<!-- #mid section  1-->
    <div class="mid-section">
        <!-- #Feature steps -->
        <div class="container">
            <div id="step-feature" class="row">
                <div class="circle">
                    1
                </div>
                <div class="step-feature-text">
                    <h2 class="text-left">Talk to one of our experts</h2>
                </div>
            </div>    
        </div>
        <!-- #end feature steps -->

        <div class="container">
            <div class="row">
                <div class="section-column remove-on-mobile">
                    <div data-aos="fade-right">
                        <img src="/images/undraw_video_call.svg" style="max-width:100%; max-height:100%;"/>
                    </div>
                </div>
                <div class="section-column">
                    <div class="section-description">
                        <p class="pad-2">Our team have extensive experience leading Digital Transformation initiatives within the Enterprise.</p>
                        <p class="pad-2">We will work with you to better understand your goals, tech needs and team dynamics.</p> 
                    </div>
                    <div id="bottom-button" class="button-right">
                        <button onclick="openModal()" class="primary-button button-lg ">Schedule a call</button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
<!-- #end midsection 1 -->

<!-- #mid section 2 -->
<div class="mid-section-light">
    <!-- #Feature steps -->
    <div class="container">
        <div id="step-feature" class="row">
            <div class="step-feature-text">
                <h2 class="text-right">Build once - use many</h2>
            </div>
            <div class="circle">
                2
            </div>
        </div>    
    </div>
    <!-- #end feature steps -->

    <div class="container">
        <div class="row">
            <div class="section-column">
                <div class="section-description">
                    <p class="pad-2"> We will build a custom challenge and a project brief to be published to our community within 24 hours.</p>
                    <p class="pad-2"> Use both, brief and challenge, for future processes and scale your operation. </p>     
                </div>
                <div id="bottom-button" class="button-left">
                    <button onclick="openModal()" class="primary-button button-lg ">Schedule a call</button>
                </div>
            </div>
            <div class="section-column remove-on-mobile">
                <div data-aos="fade-left">
                    <img src="/images/undraw_solution_mindset.svg" style="max-width:100%; max-height:100%;"/>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- #end midsection 2 -->

<!-- #mid section 3 -->
<div class="mid-section">
    <!-- #Feature steps -->
    <div class="container">
        <div id="step-feature" class="row">
            <div class="circle">
                3
            </div>
            <div class="step-feature-text">
                <h2 class="text-left">Engage with qualified talent only</h2>
            </div>
        </div>    
    </div>
    <!-- #end feature steps -->

    <div class="container">
        <div class="row">
            <div class="section-column remove-on-mobile">
                <div data-aos="fade-right">
                    <img src="/images/undraw_interview.svg" style="max-width:100%; max-height:100%;"/>
                </div>
            </div>

            <div class="section-column">
                <div class="section-description">
                    <p class="pad-2">Expect to be introducted to qualified talent within a week.</p>
                    <p class="pad-2">We will proactivaly promote your brief, reach out and engage with potential candidates.</p> 
                </div>
                <div id="bottom-button" class="button-right">
                    <button onclick="openModal()" class="primary-button button-lg ">Schedule a call</button>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- #end midsection 3 -->


</div>
{{ end }}



