{{ define "content" }}
<div id="how-it-works" class="container">
    <div class="top-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Scale your hiring process</h1>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <p class="text-center">- Our partners <span class="text-red">hire</span> within <span class="text-red">four weeks -</span></p>
                </div>
            </div>  -->
            <div class="row">
                <div class="section-column col-3">
                    <div class="circle">1</div>
                </div>
                <div class="section-column col-0">
                    <div class="arrow">
                        <div class="line"></div>
                        <div class="point"></div>
                      </div>
                </div>
                <div class="section-column col-3">
                    <div class="circle">2</div>
                </div>
                <div class="section-column col-0">
                    
                </div>
                <div class="section-column col-3">
                    <img src="/images/undraw_astronaut.svg" alt="Success" style="max-width:50%; max-height:50%;">
                </div>
            </div>
            
        </div>
    </div>





    <!-- <h1 class="text-center">Scale your hiring process</h1>
    <h3 class="text-center">Our partners <span class="keyword">hire</span> within <span class="keyword">four weeks</span></h2>

    <div id="steps" class="row">
        <div class="text-center col-4">
            <div class="step-icon"><i class="fas fa-3x fa-user"></i></div>
            <div class="step-title"><h4>Talk to one of our experts</h4></div>
            <div class="step-description"><p>We will work with you to understand <span class="keyword">your goals, tech needs and team dynamics.</span> We know digital transformation</p></div>
        </div>
        <div class="text-center col-4">
            <div class="step-icon"><i class="fas fa-3x fa-briefcase"></i></div>
            <div class="step-title"><h4>Publish brief and challenge</h4></div>
            <div class="step-description"><p>We will build custom <span class="keyword">tech talent</span> and publish a project brief to our <span class="keyword">community</span> within 24 hours</p></div>
        </div>
        <div class="text-center col-4">
            <div class="step-icon"><i class="fas fa-3x fa-users"></i></div>
            <div class="step-title"><h4>Talk to qualified talent</h4></div>
            <div class="step-description"><p>Expect to be introducted to <span class="keyword">qualified.</span> talent within a week</p></div>
        </div>
    </div>

    <div id="bottom-button" class="text-center">
        <button onclick="openModal()" class="primary-button button-lg">Start building your team</button>
    </div>
</div>
{{ end }}