{{ define "content" }}
<div id="why-section">
    <div class="section-header">
        <h1 class="text-center">Discover the Currofy advantages</h1>
    </div>
    <div class="top-section">
        <div class="container">
            <div class="row">
                <div class="section-column">
                    <div class="section-header">
                        <h1 class="text-left">Reach_</h1>
                    </div>
                    <div class="section-description">
                        <p class="text-left">Thousands of engineers passionate about <span class="keyword">your Tech
                                Stack</span></p>
                    </div>
                </div>
                <div class="section-column">
                    <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;" />
                </div>
            </div>
        </div>
    </div>
    <div class="mid-section">
        <div class="container">
            <div class="row">
                <div class="section-column">
                    <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;" />
                </div>
                <div class="section-column">
                    <div class="section-header">
                        <h1 class="text-left">Speed_</h1>
                    </div>
                    <div class="section-description">
                        <p class="text-left">Talk code, screen based on <span class="keyword">proven tech skills</span>
                            and
                            interview only <span class="keyword">qualified talent</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mid-section-light">
        <div class="container">
            <div class="row">
                <div class="section-column">
                    <div class="section-header">
                        <h1 class="text-left">Culture_</h1>
                    </div>
                    <div class="section-description">
                        <p class="text-left">An <span class="keyword">OpenSource</span> community that promotes
                            collaboration, experimentation, great dev experience, continous feedback and autonomy.</p>

                        <p class="text-left">The right talent for those implementing <span
                                class="keyword">InnerSourcing</span>
                            in their organizations</p>
                    </div>
                </div>

                <div class="section-column">
                    <img src="/images/dev-focus.svg" style="max-width:100%; max-height:100%;" />
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}